<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    @Styles.Render("~/css/bundel")
    <link rel="shortcut icon" href="~/App_Themes/Client/img/favicon.ico">
    <!--[if IE 7]><link rel="stylesheet" href="css/font-awesome-ie7.min.css"><![endif]-->
    <script src="js/modernizr.custom.js"></script>

</head>
<body>
    @RenderBody()
    <!--Sign Up Modal-->
    <div class="modal" id="sign-up-modal" style="display:none;">
        <img src="~/App_Themes/Client/img/sign-up.png">
        <h3>
            دریافت خبرنامه
        </h3>
        <div class="ruler2"></div>
        <div class="sign-up-content">
            <div class="sign-up-photos"></div>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
            <form method="post">
                <input type="text" placeholder="Enter your email address"><br>
                <label><input type="radio" name="gender" value="female">زن</label><label><input type="radio" name="gender" value="male">مرد</label><br>
                <input type="submit" value="Sign up" class="btn btn-large btn-danger" />
            </form>
            <p>
                آیا عضو هستید؟
                <br><a>
                    <i class="icon-angle-left"></i>
                    ادامه سفارش
                </a>
            </p>
        </div>
    </div>
    <!--End of Sign Up Modal-->
    <div class="main">
        <!--<div class="main span12 boxed">-->
        <!--HEADER  -->
        <div class="header">
            <!--HEADER BAR TOP-->
            <div class="header-bar clearfix">
                <!--HEADER  OPTHION BAR-->
                <div class="container">
                    <!--LANGUAGE AND CURRENCY GROUP-->
                    <div class="header-quick-options fl">
                        <a href="#" class="active">en</a>
                        <a href="#">fr</a>
                        <a href="#">gm</a>
                        <p>
                            &nbsp;

                        </p>
                        <a href="#" class="active">$</a>
                        <a href="#">&euro;</a>
                    </div>
                    <!-- /LANGUAGE AND CURRENCY GROUP-->
                    <!--QUICK CONTACT-->
                    <div class="header-quick-contact fl">
                        <p>
                            <i class="icon-phone icon-2x"></i> با ما تماس بگیرید
                            : 88454816
                        </p>
                    </div>
                    <!--/QUICK CONTACT-->
                    <!-- USER SHORTCUTS-->
                    <div class="header-user-shortcuts fr">
                        <ul>
                            <li>
                                <i class="icon-lock"></i>
                                خوش آمدید، بازدید کننده
                            </li>
                            <li>
                                <i class="icon-user"></i><a href="#">
                                    حساب من
                                </a>
                            </li>
                            <li>
                                <i class="icon-heart"></i><a href="#">
                                    علاقمندی ها
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /USER SHORTCUTS-->
                </div>
                <!--/HEADER  OPTHION BAR-->
            </div>
            <!-- /HEADER BAR TOP-->
            <div class="container clearfix">
                <!--HEADER CONTENT-->
                <div class="header-content">
                    <!--LOGO-->
                    <a href="#" class="logo"></a>
                    <!--LOGO TITLE-->
                    <div class="header-title">
                        <h1>Left Choice</h1>
                        <p>
                            الگوی برتر تجارت الکترونیکی
                        </p>
                    </div>
                    <!--/LOGO TITLE-->
                    <!-- START OF MOBILE MENU-->
                    <div class="rc fr clearfix">
                        <div id="dl-menu" class="dl-menuwrapper">
                            <button>باز کردن منو</button>
                            <ul class="dl-menu">
                                <li class="dl-back"><a href="#">بازگشت</a></li>
                                <li>
                                    <a href="#" title="Home">صفحه اصلی</a>
                                    <ul class="dl-submenu">
                                        <li class="dl-back"><a href="#">بازگشت</a></li>
                                        <li>
                                            <a href="index-2.html" title="Home">
                                                صفحه اصلی (CarouFredSel)
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index2.html" title="Home">
                                                صفحه اصلی (الاستیک لغزنده)
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index-boxed.html" title="Home Boxed">
                                                صفحه اصلی (نسخه جعبه)
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">مردان</a>
                                    <ul class="dl-submenu">
                                        <li class="dl-back"><a href="#">بازگشت</a></li>
                                        <li>
                                            <a href="#">پیراهن</a>
                                            <ul class="dl-submenu">
                                                <li class="dl-back"><a href="#">بازگشت</a></li>
                                                <li>
                                                    <a href="products-grid.html">
                                                        پیراهن آکسفورد
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="products-grid.html">
                                                        پیراهن را بررسی کنید
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="products-grid.html">
                                                        کاپشن های جین
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="products-grid.html">
                                                        پیراهن راه راه
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="products-grid.html">
                                                        پیراهن های چاپ شده
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">کفش</a>
                                            <ul class="dl-submenu">
                                                <li class="dl-back"><a href="#">بازگشت</a></li>
                                                <li><a href="products-grid.html">چکمه</a></li>
                                                <li>
                                                    <a href="products-grid.html">
                                                        چکمه های کویر
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="products-grid.html">
                                                        کفش قایق
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="products-grid.html">
                                                        قالب کفش
                                                    </a>
                                                </li>
                                                <li><a href="products-grid.html">مربیان</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">کاپشن</a>
                                            <ul class="dl-submenu">
                                                <li class="dl-back"><a href="#">بازگشت</a></li>
                                                <li><a href="products-grid.html">کاپشن</a></li>
                                                <li>
                                                    <a href="products-grid.html">
                                                        کاپشن چرم
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="products-grid.html">
                                                        کاپشن های جین
                                                    </a>
                                                </li>
                                                <li><a href="products-grid.html">جلیقه</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="products-grid.html">شلوار جین</a></li>
                                        <li><a href="products-grid.html">تی شرت</a></li>
                                        <li><a href="products-grid.html">لباس زیر</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">زنان</a>
                                    <ul class="dl-submenu">
                                        <li class="dl-back"><a href="#">بازگشت</a></li>
                                        <li>
                                            <a href="#">لباس</a>
                                            <ul class="dl-submenu">
                                                <li class="dl-back"><a href="#">بازگشت</a></li>
                                                <li>
                                                    <a href="products-grid.html">
                                                        لباس عصر
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="products-grid.html">
                                                        لباس های گاه به گاه
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="products-grid.html">
                                                        لباس رقص بال
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="products-grid.html">
                                                        لباس پیراهن زنانه دامن بلند
                                                    </a>
                                                </li>
                                                <li><a href="products-grid.html">لباس </a></li>
                                                <li><a href="products-grid.html">لباس</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">تاپ</a>
                                            <ul class="dl-submenu">
                                                <li class="dl-back"><a href="#">بازگشت</a></li>
                                                <li><a href="products-grid.html">لباس</a></li>
                                                <li><a href="products-grid.html">لباس</a></li>
                                                <li><a href="products-grid.html">مجلسی</a></li>
                                                <li><a href="products-grid.html">پیراهن</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">لوازم جانبی</a>
                                            <ul class="dl-submenu">
                                                <li class="dl-back"><a href="#">بازگشت</a></li>
                                                <li>
                                                    <a href="products-grid.html">
                                                        کیف جیبی،کیف زنانه &
                                                    </a>
                                                </li>
                                                <li><a href="products-grid.html">کمربند</a></li>
                                                <li><a href="products-grid.html">لباس</a></li>
                                                <li><a href="products-grid.html">دستکش</a></li>
                                                <li><a href="products-grid.html">کلاه </a></li>
                                                <li><a href="products-grid.html">عینک آفتابی</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="products-grid.html">دیگران</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">لوازم جانبی</a>
                                    <ul class="dl-submenu">
                                        <li class="dl-back"><a href="#">بازگشت</a></li>
                                        <li>
                                            <a href="#">
                                                کیف جیبی،کیف زنانه
                                            </a>
                                            <ul class="dl-submenu">
                                                <li class="dl-back"><a href="#">بازگشت</a></li>
                                                <li><a href="products-grid.html">چنگال</a></li>
                                                <li><a href="products-grid.html">کوله پشتی</a></li>
                                                <li><a href="products-grid.html">ایرانیان</a></li>
                                                <li><a href="products-grid.html">کفش ها</a></li>
                                                <li>
                                                    <a href="products-grid.html">
                                                        کیف شانه
                                                    </a>
                                                </li>
                                                <li><a href="products-grid.html">کیف </a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">ساعت</a>
                                            <ul class="dl-submenu">
                                                <li class="dl-back"><a href="#">بازگشت</a></li>
                                                <li>
                                                    <a href="products-grid.html">
                                                        ساعت دیجیتال
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="products-grid.html">
                                                        ساعت های ورزشی
                                                    </a>
                                                </li>
                                                <li><a href="products-grid.html">ساعت ها</a></li>
                                                <li><a href="products-grid.html">ساعت های طراحی</a></li>
                                                <li>
                                                    <a href="products-grid.html">
                                                        ساعت های کاسیو
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">صفحات</a>
                                    <ul class="dl-submenu">
                                        <li class="dl-back"><a href="#">بازگشت</a></li>
                                        <li>
                                            <a href="products-grid.html">
                                                محصولات شبکه مشاهده
                                            </a>
                                        </li>
                                        <li>
                                            <a href="products-list.html">
                                                نمای لیست محصولات
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html">
                                                جزئیات محصول
                                            </a>
                                        </li>
                                        <li>
                                            <a href="login.html">
                                                ورود به حساب
                                            </a>
                                        </li>
                                        <li>
                                            <a href="registration.html">
                                                ثبت نام حساب
                                            </a>
                                        </li>
                                        <li>
                                            <a href="checkout.html">
                                                لورم ایپسوم
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shortcodes.html">
                                                لورم ایپسوم
                                            </a>
                                        </li>
                                        <li>
                                            <a href="advanced-search.html">
                                                جستجوی پیشرفته
                                            </a>
                                        </li>
                                        <li><a href="contact-us.html">تماس با ما</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact-us.html">تماس با ما</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /END OF MOBILE MENU-->
                    <!--START OF SHOPING CART-->
                    <div class="header-shopping-cart fr">
                        <i class="icon-shopping-cart icon-2x fl"></i>
                        <div class="fl">
                            <a href="#" class="toggle-items fr">
                                <i class="icon-angle-left icon-2x fr"></i>
                                <h5>سبد خرید</h5>
                                <p>
                                    <span id="items-amount">3</span> مورد یا موارد
                                </p>
                            </a>
                        </div>
                        <!--SHOPING CART ITEMS-->
                        <div class="header-shopping-cart-items">
                            <div class="item fl">
                                <img src="~/App_Themes/Client/img/products/1-thumb.jpg" class="fl" />
                                <div class="fl">
                                    <h5>لباس ساتن مچ پا</h5>
                                    <p>
                                        $149.99
                                    </p>
                                </div>
                                <a href="#" class="fr"><i class="icon-remove fl"></i></a>
                            </div>
                            <div class="item fl">
                                <img src="~/App_Themes/Client/img/products/1-thumb.jpg" class="fl" />
                                <div class="fl">
                                    <h5>لباس ساتن مچ پا</h5>
                                    <p>
                                        $149.99
                                    </p>
                                </div>
                                <a href="#" class="fr"><i class="icon-remove fl"></i></a>
                            </div>
                            <div class="item fl">
                                <img src="~/App_Themes/Client/img/products/1-thumb.jpg" class="fl" />
                                <div class="fl">
                                    <h5>لباس ساتن مچ پا</h5>
                                    <p>
                                        $149.99
                                    </p>
                                </div>
                                <a href="#" class="fr"><i class="icon-remove fl"></i></a>
                            </div>
                            <div class="total fl">
                                <p class="fl">
                                    مجموع: <span>$449.97</span>
                                </p>
                                <a href="checkout.html" class="fr">بررسی</a>
                            </div>
                        </div>
                        <!--/SHOPING CART ITEMS-->
                    </div>
                    <!--/END OF SHOPING CART-->
                    <!--SEARCH BLOCK-->
                    <div class="header-search-block fr">
                        <a href="advanced-search.html">جستجوی پیشرفته</a>
                        <form>
                            <input type="text" name="q" class="fl" />
                            <input type="submit" value="" class="fl" />
                        </form>
                    </div>
                    <!--/SEARCH BLOCK-->
                </div>
                <!--HEADER CONTENT-->
            </div>
        </div>
        <!-- /HEADER  -->
        <div class="container clearfix">
            <!-- MENU -->
            <div id="menu">
                <!--LISTS-->
                <ul class="menu clearfix">
                    <li>
                        <a href="index-2.html" title="Home">صفحه اصلی</a>
                        <div class="dropdown span3">
                            <div class="span2">
                                <ul>
                                    <li>
                                        <a href="index-2.html">
                                            صفحه اصلی (CarouFredSel)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index2.html">
                                            صفحه اصلی (الاستیک لغزنده)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index-boxed.html">
                                            صفحه اصلی (نسخه جعبه)
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a>مردان</a>
                        <div class="dropdown span9">
                            <div class="span2">
                                <h4>پیراهن</h4>
                                <ul>
                                    <li>
                                        <a href="products-grid.html">
                                            پیراهن آکسفورد
                                        </a>
                                    </li>
                                    <li>
                                        <a href="products-grid.html">
                                            پیراهن را بررسی کنید
                                        </a>
                                    </li>
                                    <li>
                                        <a href="products-grid.html">
                                            کاپشن های جین
                                        </a>
                                    </li>
                                    <li>
                                        <a href="products-grid.html">
                                            پیراهن راه راه
                                        </a>
                                    </li>
                                    <li>
                                        <a href="products-grid.html">
                                            پیراهن های چاپ شده
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="span2">
                                <h4>کفش</h4>
                                <ul>
                                    <li><a href="products-grid.html">چکمه</a></li>
                                    <li>
                                        <a href="products-grid.html">
                                            چکمه های کویر
                                        </a>
                                    </li>
                                    <li>
                                        <a href="products-grid.html">
                                            کفش قایق
                                        </a>
                                    </li>
                                    <li>
                                        <a href="products-grid.html">
                                            قالب کفش
                                        </a>
                                    </li>
                                    <li><a href="products-grid.html">مربیان</a></li>
                                </ul>
                            </div>
                            <div class="span2">
                                <h4>کاپشن</h4>
                                <ul>
                                    <li><a href="products-grid.html">کاپشن</a></li>
                                    <li>
                                        <a href="products-grid.html">
                                            کاپشن چرم
                                        </a>
                                    </li>
                                    <li>
                                        <a href="products-grid.html">
                                            کاپشن های جین
                                        </a>
                                    </li>
                                    <li><a href="products-grid.html">جلیقه</a></li>
                                </ul>
                            </div>
                            <div class="menu-portrait fr">
                                <img src="~/App_Themes/Client/img/guy.jpg" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <a>زنان</a>
                        <div class="dropdown span9">
                            <div class="span2">
                                <h4>لباس</h4>
                                <ul>
                                    <li>
                                        <a href="products-grid.html">
                                            لباس عصر
                                        </a>
                                    </li>
                                    <li>
                                        <a href="products-grid.html">
                                            لباس های گاه به گاه
                                        </a>
                                    </li>
                                    <li>
                                        <a href="products-grid.html">
                                            لباس رقص بال
                                        </a>
                                    </li>
                                    <li>
                                        <a href="products-grid.html">
                                            لباس پیراهن زنانه دامن بلند
                                        </a>
                                    </li>
                                    <li><a href="products-grid.html">لباس </a></li>
                                    <li><a href="products-grid.html">لباس</a></li>
                                </ul>
                            </div>
                            <div class="span2">
                                <h4>لوازم جانبی</h4>
                                <ul>
                                    <li>
                                        <a href="products-grid.html">
                                            کیف جیبی،کیف زنانه &
                                        </a>
                                    </li>
                                    <li><a href="products-grid.html">کمربند</a></li>
                                    <li>
                                        <a href="products-grid.html">
                                            لورم ایپسوم
                                        </a>
                                    </li>
                                    <li><a href="products-grid.html">دستکش</a></li>
                                    <li><a href="products-grid.html">کلاه </a></li>
                                    <li><a href="products-grid.html">عینک آفتابی </a></li>
                                </ul>
                            </div>
                            <div class="span2">
                                <h4>تاپ</h4>
                                <ul>
                                    <li><a href="products-grid.html">لباس</a></li>
                                    <li><a href="products-grid.html">لباس</a></li>
                                    <li><a href="products-grid.html">مجلسی</a></li>
                                    <li><a href="products-grid.html">پیراهن</a></li>
                                </ul>
                            </div>
                            <div class="menu-portrait fr">
                                <img src="~/App_Themes/Client/img/girl.jpg" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <a>لوازم جانبی</a>
                        <div class="dropdown span7">
                            <div class="span2">
                                <h4>کیف جیبی،کیف زنانه</h4>
                                <ul>
                                    <li><a href="products-grid.html">چنگال</a></li>
                                    <li><a href="products-grid.html">کوله پشتی</a></li>
                                    <li><a href="products-grid.html">ایرانیان</a></li>
                                    <li>
                                        <a href="products-grid.html">
                                            لورم ایپسوم
                                        </a>
                                    </li>
                                    <li>
                                        <a href="products-grid.html">
                                            کیف شانه
                                        </a>
                                    </li>
                                    <li><a href="products-grid.html">کیف</a></li>
                                </ul>
                            </div>
                            <div class="span2">
                                <h4>ساعت</h4>
                                <ul>
                                    <li>
                                        <a href="products-grid.html">
                                            ساعت دیجیتال
                                        </a>
                                    </li>
                                    <li>
                                        <a href="products-grid.html">
                                            ساعت های ورزشی
                                        </a>
                                    </li>
                                    <li><a href="products-grid.html">ساعت ها</a></li>
                                    <li>
                                        <a href="products-grid.html">
                                            ساعتهای طراح
                                        </a>
                                    </li>
                                    <li>
                                        <a href="products-grid.html">
                                            ساعت های کاسیو
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="menu-portrait fr">
                                <img src="~/App_Themes/Client/img/watch.jpg" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <a>صفحات</a>
                        <div class="dropdown span3">
                            <div class="span2">
                                <ul>
                                    <li>
                                        <a href="products-grid.html">
                                            محصولات شبکه مشاهده
                                        </a>
                                    </li>
                                    <li>
                                        <a href="products-list.html">
                                            نمای لیست محصولات
                                        </a>
                                    </li>
                                    <li>
                                        <a href="product-details.html">
                                            جزئیات محصول
                                        </a>
                                    </li>
                                    <li>
                                        <a href="login.html">
                                            ورود به حساب
                                        </a>
                                    </li>
                                    <li>
                                        <a href="registration.html">
                                            ثبت نام حساب
                                        </a>
                                    </li>
                                    <li>
                                        <a href="checkout.html">
                                            لورم ایپسوم
                                        </a>
                                    </li>
                                    <li>
                                        <a href="shortcodes.html">
                                            لورم ایپسوم
                                        </a>
                                    </li>
                                    <li>
                                        <a href="advanced-search.html">
                                            جستجوی پیشرفته
                                        </a>
                                    </li>
                                    <li><a href="contact-us.html">تماس با ما</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="contact-us.html">تماس با ما</a></li>
                </ul>
                <!--/LISTS-->
            </div>
            <!-- /MENU -->
            <!--SLIDER-->
            <div class="slider-block row clearfix">
                <div class="span7 ml-0 fl clearfix">
                    <!--SLIDER WRAPPER-->
                    <div class="list_carousel responsive clearfix" id="slider">
                        <!-- SLIDER LISTS-->
                        <ul id="carouFredSel-big">
                            <li>
                                <!--SLIDER IMAGE-->
                                <img src="~/App_Themes/Client/img/slider/slide33.jpg" />
                                <!--SLIDER TITLE AND TEXT-->
                                <div>
                                    <h4>
                                        مدرن لباس قرمز
                                    </h4>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                                    </p>
                                </div>
                                <!--/SLIDER TITLE AND TEXT-->
                            </li>
                            <li>
                                <!--SLIDER IMAGE-->
                                <img src="~/App_Themes/Client/img/slider/slide22.jpg" />
                                <!--SLIDER TITLE AND TEXT-->
                                <div>
                                    <h4>
                                        لباس نقره ای
                                    </h4>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                                    </p>
                                </div>
                                <!--/SLIDER TITLE AND TEXT-->
                            </li>
                            <li>
                                <!--SLIDER IMAGE-->
                                <img src="~/App_Themes/Client/img/slider/slide11.jpg" />
                                <!--SLIDER TITLE AND TEXT-->
                                <div>
                                    <h4>لباس</h4>
                                    <p>

                                        لورم ایپسوم یا طرح‌نما
                                    </p>
                                </div>
                                <!--/SLIDER TITLE AND TEXT-->
                            </li>
                            <li>
                                <!--SLIDER IMAGE-->
                                <img src="~/App_Themes/Client/img/slider/slide44.jpg" />
                                <!--SLIDER TITLE AND TEXT-->
                                <div>
                                    <h4>لباس</h4>
                                    <p>

                                        لورم ایپسوم یا طرح‌نما
                                    </p>
                                </div>
                                <!--/SLIDER TITLE AND TEXT-->
                            </li>
                        </ul>
                        <!-- /SLIDER LISTS-->
                        <div class="clearfix">
                        </div>
                        <!--SLIDER NAVIGATION-->
                        <div class="carousel_nav">
                            <a id="prev_big" class="prev" href="#">&lt;</a>
                            <a id="next_big" class="next" href="#">&gt;</a>
                        </div>
                        <!--/SLIDER NAVIGATION-->
                    </div>
                    <!-- /SLIDER WRAPPER-->
                </div>
                <!--SPECIAL OFFERS-->
                <div class="span5 fr">
                    <div class="special-offers-vertical fr">
                        <a href="#" class="read-more">
                            برای اطلاعات بیشتر کلیک کنید
                        </a>
                        <img src="~/App_Themes/Client/img/special-offer-vertical-5.jpg" />
                    </div>
                    <div class="special-offers-vertical fr">
                        <a href="#" class="read-more">
                            برای اطلاعات بیشتر کلیک کنید
                        </a>
                        <img src="~/App_Themes/Client/img/special-offer-vertical-4.jpg" />
                    </div>
                </div>
                <!--/SPECIAL OFFERS-->
            </div>
            <!-- /SLIDER-->
            <!--RULER LINE-->
            <div class="ruler">
            </div>
            <!--BLOCK TITLE-->
            <h3 class="block-title">پرفروش</h3>
            <!--PRODUCTS BLOCK-->
            <div class="products list_carousel responsive">
                <ul id="productBestSale">
                    <li>
                        <div class="product fl">
                            <div class="product-new">
                            </div>
                            <div class="product-preview">
                                <img src="~/App_Themes/Client/img/products/1.jpg" alt="product">
                            </div>
                            <div class="product-info">
                                <h5>
                                    <a href="product-details.html">
                                        لباس ساتن مچ پا
                                    </a>
                                </h5>
                                <h4><span></span> $149.99</h4>
                                <div class="button-box">
                                    <div>
                                        <i class="icon-shopping-cart"></i>
                                        <span>افزودن به سبد خرید</span>
                                    </div>
                                    <div>
                                        <i class="icon-refresh"></i>
                                    </div>
                                    <div>
                                        <i class="icon-heart"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="product-rating">
                                <div class="stars">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product fl">
                            <div class="product-sale">
                            </div>
                            <div class="product-preview">
                                <img src="~/App_Themes/Client/img/products/2.jpg" alt="product">
                            </div>
                            <div class="product-info">
                                <h5>
                                    <a href="product-details.html">
                                        لورم ایپسوم یا طرح‌نما
                                    </a>
                                </h5>
                                <h4><span>$39.99</span> $35.99</h4>
                                <div class="button-box">
                                    <div>
                                        <i class="icon-shopping-cart"></i>
                                        <span>افزودن به سبد خرید</span>
                                    </div>
                                    <div>
                                        <i class="icon-refresh"></i>
                                    </div>
                                    <div>
                                        <i class="icon-heart"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="product-rating">
                                <div class="stars">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product fl">
                            <div class="product-new">
                            </div>
                            <div class="product-sale">
                            </div>
                            <div class="product-preview">
                                <img src="~/App_Themes/Client/img/products/5.jpg" alt="product">
                            </div>
                            <div class="product-info">
                                <h5>
                                    <a href="product-details.html">
                                        لورم ایپسوم یا طرح‌نما
                                    </a>
                                </h5>
                                <h4><span>$139.99</span> $129.99</h4>
                                <div class="button-box">
                                    <div>
                                        <i class="icon-shopping-cart"></i>
                                        <span>افزودن به سبد خرید</span>
                                    </div>
                                    <div>
                                        <i class="icon-refresh"></i>
                                    </div>
                                    <div>
                                        <i class="icon-heart"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="product-rating">
                                <div class="stars">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product fl">
                            <div class="product-preview">
                                <img src="~/App_Themes/Client/img/products/4.jpg" alt="product">
                            </div>
                            <div class="product-info">
                                <h5>
                                    <a href="product-details.html">
                                        لورم ایپسوم یا طرح‌نما
                                    </a>
                                </h5>
                                <h4><span></span> $149.99</h4>
                                <div class="button-box">
                                    <div>
                                        <i class="icon-shopping-cart"></i>
                                        <span>افزودن به سبد خرید</span>
                                    </div>
                                    <div>
                                        <i class="icon-refresh"></i>
                                    </div>
                                    <div>
                                        <i class="icon-heart"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="product-rating">
                                <div class="stars">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product fl">
                            <div class="product-new">
                            </div>
                            <div class="product-sale">
                            </div>
                            <div class="product-preview">
                                <img src="~/App_Themes/Client/img/products/3.jpg" alt="product">
                            </div>
                            <div class="product-info">
                                <h5>
                                    <a href="product-details.html">
                                        لورم ایپسوم یا طرح‌نما
                                    </a>
                                </h5>
                                <h4><span>$60.00</span> $49.50</h4>
                                <div class="button-box">
                                    <div>
                                        <i class="icon-shopping-cart"></i>
                                        <span>افزودن به سبد خرید</span>
                                    </div>
                                    <div>
                                        <i class="icon-refresh"></i>
                                    </div>
                                    <div>
                                        <i class="icon-heart"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="product-rating">
                                <div class="stars">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="clearfix">
                </div>
                <div class="carousel_nav">
                    <a id="prev_productBestSale" class="prev" href="#">&lt;</a>
                    <a id="next_productBestSale" class="next" href="#">&gt;</a>
                </div>
            </div>
            <!--/PRODUCTS BLOCK-->
            <div class="clearfix">
            </div>
            <!--BANNER-->
            <div class="banner">
                <img src="~/App_Themes/Client/img/banner2.jpg" />
            </div>
            <!--/BANNER-->
            <div class="clearfix">
            </div>
            <div class="span8 ml-0 fl">
                <!--BLOCK TITLE-->
                <h3 class="block-title">
                    محصولات جدید
                </h3>
                <!--PRODUCTS BLOCK-->
                <div class="products list_carousel responsive">
                    <ul id="productNew">
                        <li>
                            <div class="product fl">
                                <div class="product-new">
                                </div>
                                <div class="product-preview">
                                    <img src="~/App_Themes/Client/img/products/1.jpg" alt="product">
                                </div>
                                <div class="product-info">
                                    <h5>
                                        <a href="product-details.html">
                                            لباس ساتن مچ پا
                                        </a>
                                    </h5>
                                    <h4><span></span> $149.99</h4>
                                    <div class="button-box">
                                        <div>
                                            <i class="icon-shopping-cart"></i>
                                            <span>افزودن به سبد خرید</span>
                                        </div>
                                        <div>
                                            <i class="icon-refresh"></i>
                                        </div>
                                        <div>
                                            <i class="icon-heart"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-rating">
                                    <div class="stars">
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product fl">
                                <div class="product-sale">
                                </div>
                                <div class="product-preview">
                                    <img src="~/App_Themes/Client/img/products/2.jpg" alt="product">
                                </div>
                                <div class="product-info">
                                    <h5>
                                        <a href="product-details.html">
                                            لباس ابریشمی یقه V
                                        </a>
                                    </h5>
                                    <h4><span>$39.99</span> $35.99</h4>
                                    <div class="button-box">
                                        <div>
                                            <i class="icon-shopping-cart"></i>
                                            <span>افزودن به سبد خرید</span>
                                        </div>
                                        <div>
                                            <i class="icon-refresh"></i>
                                        </div>
                                        <div>
                                            <i class="icon-heart"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-rating">
                                    <div class="stars">
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product fl">
                                <div class="product-new">
                                </div>
                                <div class="product-sale">
                                </div>
                                <div class="product-preview">
                                    <img src="~/App_Themes/Client/img/products/5.jpg" alt="product">
                                </div>
                                <div class="product-info">
                                    <h5>
                                        <a href="product-details.html">
                                            لورم ایپسوم یا طرح‌نما
                                        </a>
                                    </h5>
                                    <h4><span>$139.99</span> $129.99</h4>
                                    <div class="button-box">
                                        <div>
                                            <i class="icon-shopping-cart"></i>
                                            <span>افزودن به سبد خرید</span>
                                        </div>
                                        <div>
                                            <i class="icon-refresh"></i>
                                        </div>
                                        <div>
                                            <i class="icon-heart"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-rating">
                                    <div class="stars">
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product fl">
                                <div class="product-preview">
                                    <img src="~/App_Themes/Client/img/products/4.jpg" alt="product">
                                </div>
                                <div class="product-info">
                                    <h5>
                                        <a href="product-details.html">
                                            لباس Bodice ابریشمی
                                        </a>
                                    </h5>
                                    <h4><span></span> $149.99</h4>
                                    <div class="button-box">
                                        <div>
                                            <i class="icon-shopping-cart"></i>
                                            <span>افزودن به سبد خرید</span>
                                        </div>
                                        <div>
                                            <i class="icon-refresh"></i>
                                        </div>
                                        <div>
                                            <i class="icon-heart"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-rating">
                                    <div class="stars">
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product fl">
                                <div class="product-new">
                                </div>
                                <div class="product-sale">
                                </div>
                                <div class="product-preview">
                                    <img src="~/App_Themes/Client/img/products/3.jpg" alt="product">
                                </div>
                                <div class="product-info">
                                    <h5><a href="product-details.html">لباس ساتن ابریشم</a></h5>
                                    <h4><span>$60.00</span> $49.50</h4>
                                    <div class="button-box">
                                        <div>
                                            <i class="icon-shopping-cart"></i>
                                            <span>افزودن به سبد خرید</span>
                                        </div>
                                        <div>
                                            <i class="icon-refresh"></i>
                                        </div>
                                        <div>
                                            <i class="icon-heart"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-rating">
                                    <div class="stars">
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix">
                    </div>
                    <div class="carousel_nav">
                        <a id="prev_productNew" class="prev" href="#">&lt;</a>
                        <a id="next_productNew" class="next" href="#">&gt;</a>
                    </div>
                </div>
                <!--/PRODUCTS BLOCK-->
                <!--RULER LINE-->
                <div class="ruler">
                </div>
                <!--BLOCK TITLE-->
                <h3 class="block-title">
                    محصولات ویژه
                </h3>
                <!--PRODUCTS BLOCK-->
                <div class="products list_carousel responsive">
                    <ul id="productFeatured">
                        <li>
                            <div class="product fl">
                                <div class="product-new">
                                </div>
                                <div class="product-preview">
                                    <img src="~/App_Themes/Client/img/products/1.jpg" alt="product">
                                </div>
                                <div class="product-info">
                                    <h5>
                                        <a href="product-details.html">
                                            لباس ساتن مچ پا
                                        </a>
                                    </h5>
                                    <h4><span></span> $149.99</h4>
                                    <div class="button-box">
                                        <div>
                                            <i class="icon-shopping-cart"></i>
                                            <span>افزودن به سبد خرید</span>
                                        </div>
                                        <div>
                                            <i class="icon-refresh"></i>
                                        </div>
                                        <div>
                                            <i class="icon-heart"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-rating">
                                    <div class="stars">
                                        <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product fl">
                                <div class="product-sale">
                                </div>
                                <div class="product-preview">
                                    <img src="~/App_Themes/Client/img/products/2.jpg" alt="product">
                                </div>
                                <div class="product-info">
                                    <h5>
                                        <a href="product-details.html">
                                            لباس ابریشمی یقه V
                                        </a>
                                    </h5>
                                    <h4><span>$39.99</span> $35.99</h4>
                                    <div class="button-box">
                                        <div>
                                            <i class="icon-shopping-cart"></i>
                                            <span>افزودن به سبد خرید</span>
                                        </div>
                                        <div>
                                            <i class="icon-refresh"></i>
                                        </div>
                                        <div>
                                            <i class="icon-heart"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-rating">
                                    <div class="stars">
                                        <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product fl">
                                <div class="product-new">
                                </div>
                                <div class="product-sale">
                                </div>
                                <div class="product-preview">
                                    <img src="~/App_Themes/Client/img/products/5.jpg" alt="product">
                                </div>
                                <div class="product-info">
                                    <h5>
                                        <a href="product-details.html">
                                            لورم ایپسوم یا طرح‌نما
                                        </a>
                                    </h5>
                                    <h4><span>$139.99</span> $129.99</h4>
                                    <div class="button-box">
                                        <div>
                                            <i class="icon-shopping-cart"></i>
                                            <span>افزودن به سبد خرید</span>
                                        </div>
                                        <div>
                                            <i class="icon-refresh"></i>
                                        </div>
                                        <div>
                                            <i class="icon-heart"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-rating">
                                    <div class="stars">
                                        <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product fl">
                                <div class="product-preview">
                                    <img src="~/App_Themes/Client/img/products/4.jpg" alt="product">
                                </div>
                                <div class="product-info">
                                    <h5>
                                        <a href="product-details.html">
                                            لباس Bodice ابریشمی
                                        </a>
                                    </h5>
                                    <h4><span></span> $149.99</h4>
                                    <div class="button-box">
                                        <div>
                                            <i class="icon-shopping-cart"></i>
                                            <span>افزودن به سبد خرید</span>
                                        </div>
                                        <div>
                                            <i class="icon-refresh"></i>
                                        </div>
                                        <div>
                                            <i class="icon-heart"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-rating">
                                    <div class="stars">
                                        <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product fl">
                                <div class="product-new">
                                </div>
                                <div class="product-sale">
                                </div>
                                <div class="product-preview">
                                    <img src="~/App_Themes/Client/img/products/3.jpg" alt="product">
                                </div>
                                <div class="product-info">
                                    <h5><a href="product-details.html">لباس ساتن ابریشم </a></h5>
                                    <h4><span>$60.00</span> $49.50</h4>
                                    <div class="button-box">
                                        <div>
                                            <i class="icon-shopping-cart"></i>
                                            <span>افزودن به سبد خرید</span>
                                        </div>
                                        <div>
                                            <i class="icon-refresh"></i>
                                        </div>
                                        <div>
                                            <i class="icon-heart"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-rating">
                                    <div class="stars">
                                        <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="carousel_nav">
                        <a id="prev_productFeatured" class="prev" href="#">&lt;</a>
                        <a id="next_productFeatured" class="next" href="#">&gt;</a>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
                <!--/PRODUCTS BLOCK-->
            </div>
            <div class="vertical span4 ml-0 fr">
                <!--BLOCK TITLE-->
                <h3 class="block-title">اخبار</h3>
                <!--POPULAR BLOCK-->
                <ul class="popular">
                    <li class="clearfix">
                        <div class="popular-img fl">
                            <img src="~/App_Themes/Client/img/popular3.jpg">
                        </div>
                        <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</a><br>
                        <strong>25 May, 2013.</strong>
                    </li>
                    <li class="clearfix">
                        <div class="popular-img fl">
                            <img src="~/App_Themes/Client/img/popular2.jpg">
                        </div>
                        <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</a><br>
                        <strong>25 May, 2013.</strong>
                    </li>
                    <li class="clearfix">
                        <div class="popular-img fl">
                            <img src="~/App_Themes/Client/img/popular3.jpg">
                        </div>
                        <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</a><br>
                        <strong>25 May, 2013.</strong>
                    </li>
                </ul>
                <!--/POPULAR BLOCK-->
                <div class="clearfix">
                </div>
                <!--BLOCK TITLE-->
                <h3 class="block-title">
                    معامله روزانه
                </h3>
                <!--Daily Deal-->
                <div class="daily-deal fl">
                    <div class="product-deal">79% off</div>
                    <div class="product-preview">
                        <img src="~/App_Themes/Client/img/products/1.jpg" alt="product">
                    </div>
                    <div class="product-info">
                        <h5>
                            <a href="product-details.html">
                                لباس ساتن مچ پا
                            </a>
                        </h5>
                        <h4><span>was $149.99</span> $31.49</h4>
                    </div>
                    <div class="countdown">
                        <p id="time" class="time"></p>
                    </div>
                </div>
                <!--/Daily Deal-->
                <div class="clearfix">
                </div>
                <!--BLOCK TITLE-->
                <h3 class="block-title">خبرنامه</h3>
                <!--NEWSLETTER FORM-->
                <form action="#" method="post" class="fl">
                    <input type="email" id="email" name="email" />
                    <button></button>
                </form>
                <!--/NEWSLETTER FORM-->
                <div class="clearfix">
                </div>
                <!--BLOCK TITLE-->
                <h3 class="block-title">اطلاعات</h3>
                <!--INFORMATION LIST-->
                <ul class="icons">
                    <li><i class="icon-angle-left"></i><a href="#">تحویل</a></li>
                    <li>
                        <i class="icon-angle-left"></i><a href="#">
                            اخطار قانونی
                        </a>
                    </li>
                    <li>
                        <i class="icon-angle-left"></i><a href="#">
                            شرایط استفاده
                        </a>
                    </li>
                    <li><i class="icon-angle-left"></i><a href="#">درباره ما</a></li>
                    <li>
                        <i class="icon-angle-left"></i><a href="#">
                            پرداخت امن
                        </a>
                    </li>
                    <li>
                        <i class="icon-angle-left"></i><a href="#">
                            فروشگاه های ما
                        </a>
                    </li>
                </ul>
                <!--/INFORMATION LIST-->
            </div>
            <div class="clearfix">
            </div>
            <!--RULER LINE-->
            <div class="ruler">
            </div>
            <!--PARTNERS-->
            <div class="partners list_carousel responsive">
                <ul id="partner">
                    <li><img src="http://placehold.it/200x100"></li>
                    <li><img src="http://placehold.it/200x100"></li>
                    <li><img src="http://placehold.it/200x100"></li>
                    <li><img src="http://placehold.it/200x100"></li>
                    <li><img src="http://placehold.it/200x100"></li>
                    <li><img src="http://placehold.it/200x100"></li>
                    <li><img src="http://placehold.it/200x100"></li>
                    <li><img src="http://placehold.it/200x100"></li>
                </ul>
                <div class="clearfix">
                </div>
            </div>
            <!--/PARTNERS-->
        </div>
        <!--FOOTER-->
        <div class="footer">
            <div class="footer-information-block clearfix ">
                <!--FOOTER SERVICES-->
                <div class="footer-payment-service ">
                    <div class="container row center">
                        <a href="#">
                            <div class="span2">
                                <i class="icon-ok icon-3x"></i><span>
                                    گارانتی بازگشت پول
                                </span>
                            </div>
                        </a>
                        <a href="#">
                            <div class="span2">
                                <i class="icon-refresh icon-3x"></i><span>
                                    در فروشگاه Exchance
                                </span>
                            </div>
                        </a>
                        <a href="#">
                            <div class="span2">
                                <i class="icon-money icon-3x"></i><span>
                                    پرداخت پس از حمل و نقل
                                </span>
                            </div>
                        </a>
                        <a href="#">
                            <div class="span2">
                                <i class="icon-cogs icon-3x"></i><span>
                                    سفارشی کردن آسان
                                </span>
                            </div>
                        </a>
                        <a href="#">
                            <div class="span2">
                                <i class="icon-truck icon-3x"></i><span>
                                    حمل و نقل رایگان
                                </span>
                            </div>
                        </a>
                        <a href="#">
                            <div class="span2">
                                <i class="icon-lock icon-3x"></i><span>
                                    100 ٪ پرداخت امن
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
                <!--/FOOTER SERVICES-->
                <div class="container">
                    <div class="footer-information-block row-fluid">
                        <div class="span3 pl-10">
                            <h5>Left Choice</h5>
                            <hr>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                            </p>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                            </p>
                            <a href="#" class="read-more">
                                برای اطلاعات بیشتر کلیک کنید
                            </a>
                        </div>
                        <div class="span3 pl-10">
                            <h5>حساب من</h5>
                            <hr>
                            <ul class="icons">
                                <li>
                                    <i class="icon-angle-left"></i><a href="#">
                                        سفارشات من
                                    </a>
                                </li>
                                <li>
                                    <i class="icon-angle-left"></i><a href="#">
                                        اعتبار من
                                    </a>
                                </li>
                                <li>
                                    <i class="icon-angle-left"></i><a href="#">
                                        آدرس های من
                                    </a>
                                </li>
                                <li>
                                    <i class="icon-angle-left"></i><a href="#">
                                        اطلاعات شخصی من
                                    </a>
                                </li>
                                <li>
                                    <i class="icon-angle-left"></i><a href="#">
                                        کوپن من
                                    </a>
                                </li>
                                <li>
                                    <i class="icon-angle-left"></i><a href="#">
                                        مورد علاقه های شما
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="span3 pl-10">
                            <h5>درباره ما</h5>
                            <hr>
                            <ul class="icons">
                                <li>
                                    <i class="icon-angle-left"></i><a href="#">
                                        سیاست حفظ حریم خصوصی ما
                                    </a>
                                </li>
                                <li>
                                    <i class="icon-angle-left"></i><a href="#">
                                        شرایط فروش & شرایط
                                    </a>
                                </li>
                                <li><i class="icon-angle-left"></i><a href="#">همکاری</a></li>
                                <li>
                                    <i class="icon-angle-left"></i><a href="#">
                                        دیدار با همکاران بهترین
                                    </a>
                                </li>
                                <li>
                                    <i class="icon-angle-left"></i><a href="#">
                                        با یک کلیک به ما بپیوندید
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="span3 pl-10">
                            <div class="quick-contacts">
                                <div>
                                    <i class="icon-phone icon-2x"></i><span>تلفن:</span>
                                    <p>
                                        +001 000 000<br>
                                        + 001 222 222 (fax)
                                    </p>
                                </div>
                                <div>
                                    <i class="icon-mobile-phone icon-2x"></i><span>فکس:</span>
                                    <p>
                                        +77 999 9999<br>
                                        +41 111 2222
                                    </p>
                                </div>
                                <div>
                                    <i class="icon-envelope-alt icon-2x"></i><span>ایمیل:</span>
                                    <p>
                                        info@leftchoice.com<br>
                                        me@leftchoice.com
                                    </p>
                                </div>
                                <div class="footer-socials">
                                    <a href="#" class="fl"><i class="icon-facebook icon-2x"></i></a>
                                    <a href="#" class="fl"><i class="icon-twitter icon-2x"></i></a>
                                    <a href="#" class="fl"><i class="icon-linkedin icon-2x"></i></a>
                                    <a href="#" class="fl"><i class="icon-rss icon-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copy clearfix">
                <div class="container">
                    <div class="footer-copy">
                        <div class="footer-copy-icon fl">
                            &copy;
                        </div>
                        <div class="footer-copy-text fl">
                            کپی رایت@2015 تمام حقوق مادی و معنوی این سایت متعلق به گروه برنامه نویسان میباشد
                        </div>
                        <ul class="footer-payments fr">
                            <li><img src="~/App_Themes/Client/img/payment-maestro.jpg" /></li>
                            <li><img src="~/App_Themes/Client/img/payment-discover.jpg" /></li>
                            <li><img src="~/App_Themes/Client/img/payment-visa.jpg" /></li>
                            <li><img src="~/App_Themes/Client/img/payment-american-express.jpg" /></li>
                            <li><img src="~/App_Themes/Client/img/payment-paypal.jpg" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--/FOOTER-->
    </div>
</body>
<script type="text/javascript" src="~/App_Themes/Client/js/jquery.min.js"></script>
@Scripts.Render("~/script/bundel")


<script type="text/javascript">
    //<![CDATA[
    jQuery(document).ready(function ($) {

        // Activate Sign Up Modal Block on Page Load
        $("#sign-up-modal").modal();


        // Daily Deal CountDown Clock Settings
        var date = new Date().getTime();			// This example is just to show how this function works.
        var new_date = new Date(date + 86400000);	// You can set your own time whenever you want.
        var n = new_date.toUTCString();				// 'date' value is given in milliseconds.

        $("#time").countdown({
            date: new_date,
            yearsAndMonths: true,
            leadingZero: true
        });


        // CarouFredSel Functions
        $('#carouFredSel-big').carouFredSel({
            responsive: true,
            height: 'auto',
            prev: '#prev_big',
            next: '#next_big',
            auto: {
                timeoutDuration: 10000,
                pauseOnHover: true
            }
        }).find("li").hover(
            function () { $(this).find("div").slideDown(); },
            function () { $(this).find("div").slideUp(); }
        );
        $('#productBestSale').carouFredSel({
            responsive: true,
            width: '100%',
            scroll: { duration: 500, items: 1 },
            prev: '#prev_productBestSale',
            next: '#next_productBestSale',
            auto: false,
            items: {
                height: 'auto',
                //	height: '30%',	//	optionally resize item-height
                visible: {
                    min: 1,
                    max: 6
                }
            }
        });
        $('#productNew').carouFredSel({
            responsive: true,
            width: '100%',
            scroll: { duration: 500, items: 1 },
            prev: '#prev_productNew',
            next: '#next_productNew',
            auto: false,
            items: {
                height: 'auto',
                //	height: '30%',	//	optionally resize item-height
                visible: {
                    min: 1,
                    max: 6
                }
            }
        });
        $('#productFeatured').carouFredSel({
            responsive: true,
            width: '100%',
            scroll: { duration: 500, items: 1 },
            prev: '#prev_productFeatured',
            next: '#next_productFeatured',
            auto: false,
            items: {
                height: 'auto',
                //	height: '30%',	//	optionally resize item-height
                visible: {
                    min: 1,
                    max: 6
                }
            }
        });
        $('#partner').carouFredSel({
            responsive: true,
            width: '100%',
            scroll: 1,
            items: {
                height: '100%',
                //	height: '30%',	//	optionally resize item-height
                visible: {
                    min: 1,
                    max: 6
                }
            }
        });
    });
//]]>
</script>
</html>
